<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Party Loyalty Senate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <img src="img/tgif_blanco.jpg" alt="logo de tgif" id="logo">
      </div>
      <div class="col-3" id="email">
        <a href="mailto:congress@gmail.com"><b>congress@gmail.com</b></a>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-light" href="home.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Congress 113
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-light" href="house.html">House</a>
              <a class="dropdown-item text-light" href="senate.html">Senate</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Attendance
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-light" href="attendance-house.html">House</a>
              <a class="dropdown-item text-light" href="attendance-senate.html">Senate</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Party Loyalty
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-light" href="partyLoyaltyHouse.html">House</a>
              <a class="dropdown-item text-light" href="partyLoyaltySenate.html">Senate</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container-fluid" id="app">

    <div class="row">
      <div class="col-6">
        <h2>Party Loyalty</h2>
        <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house.
          Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most
          cases, debates continue even if a majority is not present.</p>

        <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye"
          or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as
          a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In
          the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the
          tiebreaking vote.</p>
      </div>
      <div class="col-6">
        <h2>Senate at a glance</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Party</th>
              <th>Number of Reps</th>
              <th>% Voted with Prty</th>
            </tr>
          </thead>
          <tbody class="partidos">
            <tr>
              <td>Democrats</td>
              <td>{{estadisticas.democrats.cantidadRepresentantes}}</td>
              <td>{{estadisticas.democrats.porcentajeDeVotos}}</td>
            </tr>
            <tr>
              <td>Republicans</td>
              <td>{{estadisticas.republicans.cantidadRepresentantes}}</td>
              <td>{{estadisticas.republicans.porcentajeDeVotos}}</td>
            </tr>
            <tr>
              <td>Independents</td>
              <td>{{estadisticas.indepent.cantidadRepresentantes}}</td>
              <td>{{estadisticas.indepent.porcentajeDeVotos}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h2>Least Loyal (Bottom 10% of party)</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number Party Votes</th>
              <th>% Party Votes</th>
            </tr>
          </thead>
          <tbody class="menos-leales">
            <tr v-for="value in estadisticas.menosLeales">
              <td>{{value.first_name}} {{value.middle_name}} {{value.last_name}}</td>
              <td>{{value.total_votes}}</td>
              <td>{{value.votes_with_party_pct}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-6">
        <h2>Most Loyal (Top 10% of party)</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number Party Votes</th>
              <th>% Party Votes</th>
            </tr>
          </thead>
          <tbody class="mas-leales">
            <tr v-for="value in estadisticas.masLeales">
              <td>{{value.first_name}} {{value.middle_name}} {{value.last_name}}</td>
              <td>{{value.total_votes}}</td>
              <td>{{value.votes_with_party_pct}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <footer class="bg-dark text-light text-center">
    <p>Copyright 2021 - @karen</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<!--<script src="js/congress-113-senate.js"></script>-->  
  <script src="js/estadisticas.js"></script>


</body>

</html>